body {
     color: #161616;
     font-family: sans-serif;
     text-align: center;
     background-color: currentColor;
}
.center-on-page {
     position: absolute;
     top:50%;
     left: 50%;
     transform: translate(-50%,-50%);
}
h1 {
     text-align: center;
     color:#211E16;
}
img {
     vertical-align: middle;
}
select {
     outline: 0;
     border: 0 !important;
     background: #211E16;
     background-image: none;
}
.select {
     position: relative;
     display: block;
     width: 20em;
     height: 3em;
     line-height: 3;
     background: #211E16;
     overflow: hidden;
     border-radius: .25em;
}
select {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0 0 0 .5em;
     color: #fff;
     cursor: pointer;
}
button{
     border: 0 !important;
     background: #211E16;
     color: #fff;
     cursor: pointer;
     border-radius: .25em;
     width: 100%;
     height: 40px;
     margin: 0;
     margin-top: 20px;
}
